#logo{
    text-decoration: none;
}
#se-connecter{
    text-decoration: none;
    color: black;
}
#accueil{
    text-decoration: none;
    color: black;
}
#rechercher{
    text-decoration: none;
    color: black;
}
#playlists{
    text-decoration: none;
    color: black;
}
.playlist{
    
}